<!--The content below is only a placeholder and can be replaced.-->
<div id="main_div" style="text-align:center">
  <!--<h1>
    Welcome to {{ title }}!
  </h1> 
--> 
    
  
  <!--<img width="200" height="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
</div>

<!--
<h2>Here are some links to help you start: </h2>

<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
  


  

</ul>
-->

<!--<app-heroes></app-heroes>-->

<mat-toolbar color="primary">
  <mat-toolbar-row style="text-align:right;">
    
    <a routerLink="/dashboard" style="text-decoration: none;"><span style="color:white;">{{title}}</span></a>
       <!--<div>
      <div style="display:inline-block;"><a routerLink="/dashboard" style="text-decoration: none;"><span style="color:white;">Dashboard</span></a> <span>&nbsp;&nbsp;</span></div>
      <div style="display:inline-block"><a routerLink = "/heroes" style="text-decoration: none;"><span style ="color:white;">Products</span></a> &nbsp;</div>
      <div style="display:inline-block"><a routerLink = "/cart" style="text-decoration: none;float:right;" ><span style="color:white;">My Cart</span></a></div>
       </div>
      -->
      <span class="example-fill-remaining-space"></span>
    <div >
      <a routerLink="/dashboard" style="text-decoration: none;"><span style="color:white;">Dashboard</span></a> <span>&nbsp;&nbsp;</span>
      </div>
      <div>
      <a routerLink = "/heroes" style="text-decoration: none;"><span style ="color:white;">Products</span></a> &nbsp; 
      </div>
      
      <div>
      <a routerLink = "/cart" style="text-decoration: none;float:right;" ><span style="color:white;">My Cart</span></a>
      </div> &nbsp; &nbsp;
      <div>
        <a routerLink = "/login_screen" style="text-decoration: none;float:right;" ><span style="color:white;">Login</span></a>
        </div> &nbsp; &nbsp;
        <div>
          <a routerLink = "/register_screen" style="text-decoration: none;float:right;" ><span style="color:white;">Register</span></a>
          </div>
</mat-toolbar-row>
</mat-toolbar>

<div style="text-align: right">
  <div style="display:inline-block"><a routerLink="/dashboard" style="text-decoration: none;"><span style="color:white;">Dashboard</span></a> <span>&nbsp;&nbsp;</span></div>
  <div style="display:inline-block"><a routerLink = "/heroes" style="text-decoration: none;"><span style ="color:white;">Products</span></a> &nbsp;</div>
  <div style="display:inline-block"><a routerLink = "/cart" style="text-decoration: none;float:right;" ><span style="color:white;">My Cart</span></a></div>
</div>
<!--
<nav>

  <div>
  <a routerLink="/dashboard">Dashboard</a> <span>&nbsp;&nbsp;</span>
  </div>
  <div>
  <a routerLink = "/heroes">Products</a>
  </div>
  
  <div>
  <a routerLink = "/cart" >My Cart</a>
  </div>

</nav>
-->

<router-outlet></router-outlet>
<app-messages></app-messages>